<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <slot name="title">
            <title>Astro</title>
        </slot>

        <slot name="head"></slot>
	</head>
	<slot>
        <body>
            <h1>Astro</h1>
        </body>
    </slot>
</html>